{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
    {stomp_client, "v0.1", {git, "git://github.com/prisms-center/erlang-stomp-client.git", {branch, "v0.1"}}},
    {jiffy, "0.8.3", {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
    {handyman, "0.1.0", {git, "git://github.com/prisms-center/handyman.git", {branch, "v0.1"}}}
]}.
