{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
    {ranch, "0.6.2", {git, "git://github.com/extend/ranch.git", {tag, "0.6.2"}}},
    {jiffy, "0.8.3", {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
    {stomp_client, "v0.1", {git, "git://github.com/prisms-center/erlang-stomp-client.git", {branch, "v0.1"}}}
]}.
