{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
    {stomp_client, "v0.1", {git, "git://github.com/prisms-center/erlang-stomp-client.git", {branch, "v0.1"}}},
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
    {handyman, "0.1.0", {git, "git://github.com/prisms-center/handyman.git", {branch, "v0.1"}}}
]}.
